
*{
  border: solid 2px black;
  overflow: auto;
  margin: 0px;
  box-sizing: border-box;
}






/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(172, 216, 252);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

body{
  background-image: url("back.jpeg");
}




main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(13, 174, 238);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefr{
    float: right;
    margin-left: 10px; 
  
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(49, 6, 245);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:#aaaaaa;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:#aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




